<% if ((item.room.name.toLowerCase() == "experience")) { %>
	<h5>TECH SOLUTIONS</h5>
<% } else if ((item.room.name.toLowerCase() == "product and pricing") || (item.room.name.toLowerCase() == "product & pricing")) { %>
	<h5>INNOVATION</h5>
<% } else if (item.room.name.toLowerCase() == "evolve the business") { %>
	<h5>FINANCE</h5>
<% } else if (item.room.name.toLowerCase() == "manufacturing") { %>
	<h5>EXPANSION</h5>
<% } else if (item.room.name.toLowerCase() == "marketing") { %>
	<h5>MARKETING</h5>
<% } else if ((item.room.name.toLowerCase()== "employee impact")) { %>
	<h5>HUMAN RES</h5>
<% } %>

