<div class="row legend-container">
	<div class="col-3 legend-word">
		<h5>Metric Legend</h5>
	</div>
	<div class="col-1 ">
		<span class="dot-green dot"></span>
	</div>
	<div class="col-2 legend-word">
		<h6>= On Track</h6>
	</div>
	<div class="col-1">
		<span class="dot-yellow dot"></span>
	</div>
	<div class="col-2 legend-word">
		<h6>= Caution</h6>
	</div>
		<div class="col-1">
		<span class="dot-red dot"></span>
	</div>
	<div class="col-2 legend-word">
		<h6>= High Risk</h6>
	</div>
</div>