<% if (outcome[id].outcome.room.toLowerCase() == "experience") { %>
	</div>
<% } else if ((outcome[id].outcome.room.toLowerCase() == "product and pricing") || (outcome[id].outcome.room.toLowerCase() == "product & pricing")) { %>
	</div>
<% } else if (outcome[id].outcome.room.toLowerCase() == "evolve the business") { %>
	</div>
<% } else if (outcome[id].outcome.room.toLowerCase() == "manufacturing") { %>
	</div>
<% } else if (outcome[id].outcome.room.toLowerCase() == "marketing") { %>
	</div>
<% } else if (outcome[id].outcome.room.toLowerCase() == "employee improvement") { %>
	</div>
<% } %>